.AboutContent{
    margin-top: 3% ;
    margin-right: 25% ;
    margin-left: 25% ;
    background-color: #fcfcfc;
}



@media screen and (max-width: 1000px) {
    .AboutContent{
        margin: 3px;
    }
}