.my-FooterClass{
    color: #fcfcfc;
    padding-top: 0;
    padding-bottom: 0%;}

footer{
    color: #fcfcfc;
    background-color: #2b2a29;
}

.My-section{
    color: #fcfcfc;
}



.My-Form-for-email{
    color: #fcfcfc;
    padding-top: 2%;
}

hr{
    color: #fcfcfc;
}

.copyRightFooter{
    color: #fcfcfc;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0;
    height: 100%;
}