body {
    font-family: "Poppins", sans-serif;
}

.textColor {
    color: #fcfcfc;
}

.Main-Navbar{
    background-color: #2b2a29;
}

.navbarBgDark {
    background: #2b2a29;
}

.navbar-nav .nav-link.active {
    color: #2b2a29;
}

.nav-link:hover {
    color: #fcfcfc;
}

.nav-link {
    color: #fff;
}

.getBtn {
    color: #fff;
}

.sideLine {
    border-right: 1px solid #717170;
}

.iconHeight {
    height: 30px;

}

.logoiconHeight{
    height: 50px;
}

@media screen and (min-width: 992px) {
    /*.sideLine {*/
    /*    border-right: none;*/
    /*}*/

    .iconHeight {
        height: 50px;

    }
    .logoiconHeight{
        height: 70px;
    }
}
