@font-face {
    font-family: 'Franklin Gothic Book';
    src: url('../public/fonts/franklin_gothic_book.eot'); /* IE 9 Compatibility Mode */
    src: url('../public/fonts/franklin_gothic_book.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../public/fonts/franklin_gothic_book.woff2') format('woff2'), /* Super Modern Browsers */
    url('../public/fonts/franklin_gothic_book.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../public/fonts/franklin_gothic_book.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../public/fonts/franklin_gothic_book.svg#franklin_gothic_book') format('svg'); /* Chrome < 4, Legacy iOS */
}
#root{
    font-family: 'Franklin Gothic Book', sans-serif;
    background-size: 5%;
    margin: 0;
    padding: 0;
    /*background-color: #2b2a29;*/
}

MDBCarousel{
    color: #fcfcfc;
    padding-top: 0;
    padding-bottom: 0;
}

.my-FooterClass{
    color: #fcfcfc;
    padding-top: 0;
    padding-bottom: 0%;}

footer{
    color: #fcfcfc;
    background-color: #2b2a29;
}

.My-section{
    color: #fcfcfc;
}



.My-Form-for-email{
    color: #fcfcfc;
    padding-top: 2%;
}

hr{
    color: #fcfcfc;
}

.copyRightFooter{
    color: #fcfcfc;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0;
    height: 100%;
}

.Main-Container{
    background: floralwhite;
}

td{
    text-align: center;
    padding: 1%;
    color: #2b2a29;
    font-weight: bold;
    background-color: #eeeeee;
}

Table{
    border: 1px solid #2b2a29;
}

/*-----------------------*/
/*--------Desktop--------*/
/*-----------------------*/
.CraneDes-Desctop{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;


}

.CraneDes-Desctop h1{
    margin-left: 2%;
    color: #2b2a29;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    align-items: center;
    align-self: center;
}
.CraneDes-Desctop hr{
    margin-left: 2%;
    color: #2b2a29;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid ;
    opacity: 0.5;

}
.Cran-Desktop-Image{
    display: inherit;
    width: 35%;
    margin-left: 2%;

}


.CraneDes-Desctop-Table{
    justify-content: center;
    margin: 1%;
    padding: 1%;
    width: 90%;
    font-size: 17px;
}

/*-----------------------*/
/*-------Mobile----------*/
/*-----------------------*/
.CraneDes-Mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1%;


}

.CraneDes-Mobile-Table{
    justify-content: center;
    margin: 1%;
    padding: 1%;
    width: 90%;
    font-size: 10px;
}

.CraneDes-Mobile-Table h3{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0;
}

.Cran-Mobile-Image {
    width: 70%;
    margin: 2%;
    display: flex;
    justify-content: center;
}

main {
    padding-left: 240px;
}

.card.map-card .living-coral {
    background-color: #fa7268;
}

.card.map-card .living-coral-text {
    color: #fa7268;
}

.card.map-card .table th {
    width: 2rem;
}

.card.map-card .pt-3-5 {
    padding-top: 1.25rem;
}

.card.map-card .card-body {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 20%;
    overflow: hidden;
    background-color: transparent;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.card.map-card .card-body.closed {
    top: 100%;
    height: 7.5rem;
    margin-top: -7.5rem;
}

.card.map-card .map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.card.map-card .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card.map-card .button .btn-floating {
    margin-top: -1.5rem;
}

blockquote {
    margin-bottom: 0px !important;
}



#main_container{
    align-items: center;
    justify-content: center;
    margin-top: 3% ;
    color: #000000;
    font-size: 1.2rem;
}

#comp-contacts{
    margin-top: 0;
    margin-left: 5%;
}

.main{
    background-color: #fcfcfc;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


body {
    font-family: "Poppins", sans-serif;
}

.textColor {
    color: #fcfcfc;
}

.Main-Navbar{
    background-color: #2b2a29;
}

.navbarBgDark {
    background: #2b2a29;
}

.navbar-nav .nav-link.active {
    color: #2b2a29;
}

.nav-link:hover {
    color: #fcfcfc;
}

.nav-link {
    color: #fff;
}

.getBtn {
    color: #fff;
}

.sideLine {
    border-right: 1px solid #717170;
}

.iconHeight {
    height: 30px;

}

.logoiconHeight{
    height: 50px;
}

@media screen and (min-width: 992px) {
    /*.sideLine {*/
    /*    border-right: none;*/
    /*}*/

    .iconHeight {
        height: 50px;

    }
    .logoiconHeight{
        height: 70px;
    }
}


.Main-Container{
    background: floralwhite;
}

td{
    text-align: center;
    padding: 1%;
    color: #2b2a29;
    font-weight: bold;
    background-color: #eeeeee;
}

Table{
    border: 1px solid #2b2a29;
}

/*-----------------------*/
/*--------Desktop--------*/
/*-----------------------*/
.CraneDes-Desctop{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;


}

.CraneDes-Desctop h1{
    margin-left: 2%;
    color: #2b2a29;
    font-weight: bold;
    font-size: 50px;
    /*background: linear-gradient(90deg,  #2b2a29 35%, #717170 100%);*/
    border-radius: 10px;
    align-items: center;
    align-self: center;
}
.CraneDes-Desctop hr{
    margin-left: 2%;
    color: #2b2a29;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid ;
    opacity: 0.5;

}
.Cran-Desktop-Image{
    display: inherit;
    width: 35%;
    margin-left: 2%;

}


.CraneDes-Desctop-Table{
    justify-content: center;
    margin: 1%;
    padding: 1%;
    width: 90%;
    font-size: 17px;
}

/*-----------------------*/
/*-------Mobile----------*/
/*-----------------------*/
.CraneDes-Mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1%;


}

.CraneDes-Mobile-Table{
    justify-content: center;
    margin: 1%;
    padding: 1%;
    width: 90%;
    font-size: 10px;
}

.CraneDes-Mobile-Table h3{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0;
}

.Cran-Mobile-Image {
    width: 70%;
    margin: 2%;
    display: flex;
    justify-content: center;
}

.Main-Container{
    background: floralwhite;
}

td{
    text-align: center;
    padding: 1%;
    color: #2b2a29;
    font-weight: bold;
    background-color: #eeeeee;
}

Table{
    border: 1px solid #2b2a29;
}

/*-----------------------*/
/*--------Desktop--------*/
/*-----------------------*/
.CraneDes-Desctop{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;


}

.CraneDes-Desctop h1{
    margin-left: 2%;
    color: #2b2a29;
    font-weight: bold;
    font-size: 50px;
    /*background: linear-gradient(90deg,  #2b2a29 35%, #717170 100%);*/
    border-radius: 10px;
    align-items: center;
    align-self: center;
}
.CraneDes-Desctop hr{
    margin-left: 2%;
    color: #2b2a29;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid ;
    opacity: 0.5;

}
.Cran-Desktop-Image{
    display: inherit;
    width: 35%;
    margin-left: 2%;

}


.CraneDes-Desctop-Table{
    justify-content: center;
    margin: 1%;
    padding: 1%;
    width: 90%;
    font-size: 17px;
}

/*-----------------------*/
/*-------Mobile----------*/
/*-----------------------*/
.CraneDes-Mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1%;


}

.CraneDes-Mobile-Table{
    justify-content: center;
    margin: 1%;
    padding: 1%;
    width: 90%;
    font-size: 10px;
}

.CraneDes-Mobile-Table h3{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0;
}

.Cran-Mobile-Image {
    width: 70%;
    margin: 2%;
    display: flex;
    justify-content: center;
}


/*-----------------------*/
/*-------ContactUS-------*/
/*-----------------------*/
#contact-us-section{
    width: 70%;
    background-color: #f6f7f8;
    font-size: 1.2rem;
    margin-top: 5%;
}
#send-button{
    color: #ffffff;
    border-radius: 3px;
    width: 30%;
}

.container#ContactUs{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}

.mb-3#ContactUs-titles {
    display: inline-block;
    margin: 3% 3% 0;
}
#ContactUs-titles-sm{
    color: #da5559;
    font-weight: bolder;
    font-size: 1.5rem;
    /*margin: 3% 3% 0;*/
}

.Custom-title{
    border-color: #1e1f22;
    border-style: solid;
    border-width: 1px;
    box-shadow: #717170 0 0 0 2px;
    border-radius: 20px;
    width: 70%;
    margin-top: 10px;
    background-color: #eeeeee;
}

#Custom-title-h5 {
    /*color: #e11e24;*/
    font-weight: bolder;
    font-size: 1.3rem;
}

.AboutContent{
    margin-top: 3% ;
    margin-right: 25% ;
    margin-left: 25% ;
    background-color: #fcfcfc;
}



@media screen and (max-width: 1000px) {
    .AboutContent{
        margin: 3px;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


MDBCarousel{
    color: #fcfcfc;
    padding-top: 0;
    padding-bottom: 0;
}

.my-FooterClass{
    color: #fcfcfc;
    padding-top: 0;
    padding-bottom: 0%;}

footer{
    color: #fcfcfc;
    background-color: #2b2a29;
}

.My-section{
    color: #fcfcfc;
}



.My-Form-for-email{
    color: #fcfcfc;
    padding-top: 2%;
}

hr{
    color: #fcfcfc;
}

.copyRightFooter{
    color: #fcfcfc;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0;
    height: 100%;
}

.Main-Container{
    background: floralwhite;
}

td{
    text-align: center;
    padding: 1%;
    color: #2b2a29;
    font-weight: bold;
    background-color: #eeeeee;
}

Table{
    border: 1px solid #2b2a29;
}

/*-----------------------*/
/*--------Desktop--------*/
/*-----------------------*/
.CraneDes-Desctop{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;


}

.CraneDes-Desctop h1{
    margin-left: 2%;
    color: #2b2a29;
    font-weight: bold;
    font-size: 50px;
    /*background: linear-gradient(90deg,  #2b2a29 35%, #717170 100%);*/
    border-radius: 10px;
    align-items: center;
    align-self: center;
}
.CraneDes-Desctop hr{
    margin-left: 2%;
    color: #2b2a29;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid ;
    opacity: 0.5;

}
.Cran-Desktop-Image{
    display: inherit;
    width: 35%;
    margin-left: 2%;

}


.CraneDes-Desctop-Table{
    justify-content: center;
    margin: 1%;
    padding: 1%;
    width: 90%;
    font-size: 17px;
}

/*-----------------------*/
/*-------Mobile----------*/
/*-----------------------*/
.CraneDes-Mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1%;


}

.CraneDes-Mobile-Table{
    justify-content: center;
    margin: 1%;
    padding: 1%;
    width: 90%;
    font-size: 10px;
}

.CraneDes-Mobile-Table h3{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0;
}

.Cran-Mobile-Image {
    width: 70%;
    margin: 2%;
    display: flex;
    justify-content: center;
}

main {
    padding-left: 240px;
}

.card.map-card .living-coral {
    background-color: #fa7268;
}

.card.map-card .living-coral-text {
    color: #fa7268;
}

.card.map-card .table th {
    width: 2rem;
}

.card.map-card .pt-3-5 {
    padding-top: 1.25rem;
}

.card.map-card .card-body {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 20%;
    overflow: hidden;
    background-color: transparent;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.card.map-card .card-body.closed {
    top: 100%;
    height: 7.5rem;
    margin-top: -7.5rem;
}

.card.map-card .map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.card.map-card .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card.map-card .button .btn-floating {
    margin-top: -1.5rem;
}

blockquote {
    margin-bottom: 0px !important;
}

#contact-us-section{
    width: 70%;
    background-color: #f8f9fa;
    font-size: 1.2rem;
    margin-top: 5%;
}

#main_container{
    align-items: center;
    justify-content: center;
    margin-top: 3% ;
    color: #000000;
    font-size: 1.2rem;
}

#comp-contacts{
    margin-top: 0;
    margin-left: 5%;
}

.main{
    background-color: #fcfcfc;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


body {
    font-family: "Poppins", sans-serif;
}

.textColor {
    color: #fcfcfc;
}

.Main-Navbar{
    background-color: #2b2a29;
}

.navbarBgDark {
    background: #2b2a29;
}

.navbar-nav .nav-link.active {
    color: #2b2a29;
}

.nav-link:hover {
    color: #fcfcfc;
}

.nav-link {
    color: #fff;
}

.getBtn {
    color: #fff;
}

.sideLine {
    border-right: 1px solid #717170;
}

.iconHeight {
    height: 30px;

}

.logoiconHeight{
    height: 50px;
}

@media screen and (min-width: 992px) {
    /*.sideLine {*/
    /*    border-right: none;*/
    /*}*/

    .iconHeight {
        height: 50px;

    }
    .logoiconHeight{
        height: 70px;
    }
}
